.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding: 16px;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  border-radius: 4px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;

  list-style: none;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-left: 0px;
}
